$green: #54E6AF;
$dark-blue: #2C344B;
$navy: #121725;
$white: #FFFFFF;
$light-blue: #5A668A;
$light-gray: #C2CBE5;


@mixin respond($breakpoint) {
    @if $breakpoint ==tab {
        @media only screen and (min-width:48em) {
            @content
        }
    }

    @if $breakpoint ==desktop {
        @media only screen and (min-width:90em) {
            @content
        }
    }
}